services:
  - type: web
    name: gemini-backend
    env: python
    plan: free
    branch: main

    buildCommand: pip install --no-cache-dir -r backend/requirements.txt

    startCommand: uvicorn backend.app.main:app --host 0.0.0.0 --port $PORT

    autoDeploy: true

    envVars:
      - key: GEMINI_API_KEY
        sync: false
      - key: APP_ENV
        value: production
